.footer__container {
  font-size: 18px;
  text-transform: none;

  margin: var(--space-3) 0 var(--space-2);

  align-self: center;
  text-align: center;

  cursor: default;
  user-select: none;

  .footer__link {
    color: var(--gray);
    text-decoration: none;

    padding-bottom: var(--space-1);

    border-bottom: 1px solid;
  }
}
